@import "/node_modules/include-media/dist/_include-media";

// Fonts
$pixellari: "Pixellari", Helvetica, sans-serif;
$superstar: "Superstar", Helvetica, sans-serif;

// Colors
$bg-color: #101921;
$main-color: #e6cc00;
$white: #f7f7f7;
$red: #e43245;
$green: #52aea3;
$border-color: #50576c;
